section.article {
  display: flex;
  width: 100%;

/* Adicionar word-break */
overflow-wrap: break-word;
word-wrap: break-word;

-ms-word-break: break-all;
/* This is the dangerous one in WebKit, as it breaks things wherever */
/* word-break: break-all; */
/* Instead use this non-standard one: */
word-break: break-word;
}

section.article article {
  margin: 0 20px;
  flex-grow: 1;
  order: 1;
  width: 100%;
  text-align:justify;
  font-size: 1.202em;
}

section.article aside {
  width: 30%;
  order: 0;
  background: #eee;
  padding: 4px 10px;
}

section.article aside .fixed {
  position: -webkit-sticky;
  top: 0;
}

section.article aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.article aside ul.nav {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

/* adicionado por mim */
.tableOfContent  ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-bottom: 5px;
  margin-bottom: 5px; */
}



/* adicionado por mim */