{{ partial "header.html" . }}

</head>

<body onscroll="onscrolling()" onload="saveBookActived()">

<section class="article">
  <article>
    <!-- LOAD GIF -->
      <style>
          .load {
          width: 100px;
          height: 100px;
          position: fixed;
          left: 50%;
          top: 50%;
          margin-left:-110px;
		      margin-top:-40px;
           color: #aaa;
       }
       /* solve loadScrolling to mobile */
            #scroll {overflow-y: auto;}
      </style>
      <div class="load"> <img src="../img/loading-gif-transparent-10.gif" width="220" height="80"> </div>
    <!-- LOAD GIF -->

    <header>
      <h3>{{ .Title }}</h3><br>
      {{ if .Params.author }}<h4>{{ .Params.author }}</h4>{{ end }}
      {{ if .Params.translator }}<h4>Tradução de {{ .Params.translator}}</h4>{{ end }}
    </header>
    
    <iframe name="closeWindow" style="display:none"><iframe></iframe>

    <!-- adicionado por Miguel -->
       <div style="padding: 20px 10px;background-color: rgb(201, 201, 201)" class="tableOfContent"> 
        <a href="#IniciarLeitura">Iniciar ></a>
        <hr>
        {{ .TableOfContents }}
       </div> 
    <!-- Fim adicionado por Miguel -->
    <div class="content"> 
    <span id="IniciarLeitura"></span>  
    {{ .Content }}
    </div>
  </article>
  <!-- <aside id="toc">
    <div class="fixed">
      <ul class="nav">
        <li><a href="/">Índice</a></li>
      </ul>
      {{ .TableOfContents }}
    </div>
  </aside> -->
</section>

<a style="display:scroll;position:fixed;bottom:10px;right:20px;color:#f00;font-weight:bold;" href="#" title="Para o topo!">
  <img style="width:100px" src="../img/up.png" alt="Subir">
  <!-- <h3><b>^<br>
^</b></h3> -->
</a>

<a onclick="removeNameBookActived()" style="display:scroll;position:fixed;bottom:10px;left:20px;color:#f00;font-weight:bold;" href="../" title="Home">
  <img style="width:200px;height: 30px"  src="../img/voltar.png" alt="Voltar">
  <!-- <h3><  <</h3> -->
</a>

<script type="text/javascript" src="../js/custom.js"></script>

<!-- <script>
$('#switchOff').on("click",  ajaxCall);

$("#loading").dialog({
    hide: 'slide',
    show: 'slide',
    autoOpen: true
});

function ajaxCall() {
    $.ajax({
        url: '/echo/html/',
        data: { html: '<p>JSON result</p>' , delay: 3},
        method: 'post',
        beforeSend: function(){
           $("#loading").dialog('open').html("<p>Please Wait...</p>");
        },
        success: function(data) {
            $('#loading').html("<p>Result Complete...</p>");
            $('#ajaxResult').html(data);
        }
    });
}
</script> -->

<script>
    //código usando jQuery
    $(document).ready(function() {
    $('.load').hide();
    });

// Marcar livros como lido ou não
var aStatus='Status'
var bookNameStatus = document.getElementsByTagName("title")[0].innerHTML;
var livroStatus = bookNameStatus.concat(aStatus)

if (localStorage.getItem(livroStatus) === null) {
  localStorage.setItem(livroStatus, 0)
}


function setLivroStatus0()
{
  localStorage.setItem(livroStatus, 0)
}
function setLivroStatus1()
{
  localStorage.setItem(livroStatus, 1)
}

if (localStorage.getItem(livroStatus) == 0)
{
  document.write("<div align='center'><a href='../' onclick='setLivroStatus1();removeNameBookActived()'>Marcar Livro Como Lido</a></div><br><br>")
}
else
{
  document.write("<div align='center'><a href='../' onclick='setLivroStatus0();removeNameBookActived()'>Desmarcar Livro Como Lido</a></div><br><br")
}

console.log(localStorage.getItem(livroStatus))
console.log(livroStatus)

function saveBookActived()
{
  var NameBookActived = window.location.href;
  localStorage.setItem('NameBookActivedKey', NameBookActived)
  console.log(localStorage.getItem('NameBookActivedKey'));
}

function removeNameBookActived(){
  localStorage.removeItem('NameBookActivedKey');
}
</script>

{{ partial "footer.html" . }}
