{{ partial "header.html" . }}


<style>
  .audio {
    position: auto;
    left: 0;
    right: 0;
    width: 100%;    
  }
  </style>
</head>

<body onscroll="onscrolling()" onload="saveBookActived()">

<section class="article">
  <article>
    <!-- LOAD GIF -->
      <style>
          .load {
          width: 100px;
          height: 100px;
          position: fixed;
          left: 50%;
          top: 50%;
          margin-left:-110px;
		      margin-top:-40px;
           color: #aaa;
       }
       /* solve loadScrolling to mobile */
            #scroll {overflow-y: auto;}

/* caso queria remover o efeito do link */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a, a:visited { color:black }
a.link.active { color:red;}
</style>
      <div class="load"> <img src="../img/loading-gif-transparent-10.gif" width="220" height="80"> </div>
    <!-- LOAD GIF -->

    <header>
      <h3>{{ .Title }}</h3><br>
      {{ if .Params.author }}<h4>{{ .Params.author }}</h4>{{ end }}
      {{ if .Params.translator }}<h4>Tradução de {{ .Params.translator}}</h4>{{ end }}
      
      {{ if .Params.audioBook }}
      <!-- <div class="audio">
      <audio  controls>
        <source src="{{ .Params.audioBook }}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </div> -->

    <audio id="audioBook" src="{{ .Params.audioBook }}"></audio>
    <div align="center">
      <button  onclick="document.getElementById('audioBook').play()"><img width="30px" src="../img/play.png" alt="Play"></button>
      <button onclick="document.getElementById('audioBook').pause()"><img width="30px" src="../img/stop.png" alt="Stop"></button>
      <a href="{{ .Params.audioBook }}">
      <img width="30px" src="../img/down.svg" alt="Download">
      </a>
    </div>
    {{ end }}
    </header>

    

    <iframe name="closeWindow" style="display:none"><iframe></iframe>

    <!-- adicionado por Miguel -->
        <div style="padding: 20px 10px;background-color: rgb(201, 201, 201)" class="tableOfContent"> 
        <a href="#IniciarLeitura">Iniciar ></a>
        <hr>
        {{ .TableOfContents }}
       </div>
       <hr>
    <!-- Fim adicionado por Miguel -->
    <div id="texto-clicavel" class="content"> 
    <span id="IniciarLeitura"></span>  
    {{ .Content }}
    </div>
  </article>
  <!-- <aside id="toc">
    <div class="fixed">
      <ul class="nav">
        <li><a href="/">Índice</a></li>
      </ul>
      {{ .TableOfContents }}
    </div>
  </aside> -->
</section>

<a style="display:scroll;position:fixed;bottom:10px;right:20px;color:#f00;font-weight:bold;" href="#" title="Para o topo!">
  <img style="width:100px" src="../img/up.png" alt="Subir">
  <!-- <h3><b>^<br>
^</b></h3> -->
</a>

<a onclick="removeNameBookActivedreadinenglish()" style="display:scroll;position:fixed;bottom:10px;left:20px;color:#f00;font-weight:bold;" href="../" title="Home">
  <img style="width:100px;height: 30px"  src="../img/voltar.png" alt="Voltar">
  <!-- <h3><  <</h3> -->
</a>

<script type="text/javascript" src="../js/custom.js"></script>

<!-- <script>
$('#switchOff').on("click",  ajaxCall);

$("#loading").dialog({
    hide: 'slide',
    show: 'slide',
    autoOpen: true
});

function ajaxCall() {
    $.ajax({
        url: '/echo/html/',
        data: { html: '<p>JSON result</p>' , delay: 3},
        method: 'post',
        beforeSend: function(){
           $("#loading").dialog('open').html("<p>Please Wait...</p>");
        },
        success: function(data) {
            $('#loading').html("<p>Result Complete...</p>");
            $('#ajaxResult').html(data);
        }
    });
}
</script> -->

<script>
    //código usando jQuery esconde imagem após página varregada
    $(document).ready(function() {
    $('.load').hide();
    });

// Contar palavras mesmo repetidas
// function countWords() {
//   var divContent = document.getElementsByClassName('content')[0].innerHTML
//   var divContentFreeHTML = divContent.replace(/((&nbsp;)|(<[^>]*>))+/g, '')
//   .replace(/(^\s*)|(\s*$)/gi,"")
//   .replace(/[ ]{2,}/gi," ")
//   .replace(/\n /,"\n")
//   .replace(/[0-9]/g, '')

//   .replace(/\s+/g, ' ')
//   .trim()
//   var matches = divContentFreeHTML.match(/[\w\d\’\'-]+/gi);
//   return matches ? matches.length : 0;
  
// }

// Contar palavras sem repetir
//obtém texto de elemento
function countWords() {
var content = document.getElementById('texto-clicavel').innerText
.replace(/,/g,'')
.replace(/[0-9]{1,2}:[0-9]{1,2}/g,'')
.replace(/[0-9],[0-9]/g,'')
.replace(/[0-9]\.[0-9]/g,'')
.replace(/[\.-;?)(\[\]\{\}!]/g, '')
.replace(/[0-9]{1,2}/g,'')
.toLowerCase()
// Cria array por espaço
arr = content.split(' ')  
// retira repetidas
var novaArr = arr.filter((este, i) => arr.indexOf(este) === i);
// conta palavras
totalCountWords = novaArr.length
return totalCountWords
// alert(countWords)
}

document.write('<div align="center">Total Words: ' + countWords() + '</div>')

// status de clicks em palavras clicadas quando DIFERENTE de zero
var statusCounterWordsKey = 'statusCounterWordsKey'.concat(document.getElementsByTagName("title")[0].innerHTML);

if(localStorage.hasOwnProperty(statusCounterWordsKey)){
document.write("<div id=\"cont_direito\" align=\"center\" >Checked Words: <span class=\"badge\">");
  document.write(localStorage.getItem(statusCounterWordsKey));
document.write("</span></div>");

document.write("<div id=\"performance\" align=\"center\" >Performance: <span class=\"badge\">");
  var totalClicks = localStorage.getItem(statusCounterWordsKey)
  var totalWord = countWords()
  var resul
  document.write((100 - totalClicks / totalWord * 100).toFixed(2).concat('%'));
document.write("</span></div>");
}else
{
// status de clicks em palavras clicadas quando NuLL atribui-se valor zero
localStorage.setItem(statusCounterWordsKey,0);
document.write("<div id=\"cont_direito\" align=\"center\" >Checked Words: <span class=\"badge\">");
  document.write(localStorage.getItem(statusCounterWordsKey));
document.write("</span></div>");

document.write("<div id=\"performance\" align=\"center\" >Performance: <span class=\"badge\">");
  var totalClicks = localStorage.getItem(statusCounterWordsKey)
  var totalWord = countWords()
  var resul
  document.write((100 - totalClicks / totalWord * 100).toFixed(2).concat('%'));
document.write("</span></div>");
};

</script>

<!-- Contador de palavras consultadas -->
<script>
      function countClicksWords()
      {

      var statusCounterWordsKey = 'statusCounterWordsKey'.concat(document.getElementsByTagName("title")[0].innerHTML)

      var contadorStatusCounterWordsKey = localStorage.getItem(statusCounterWordsKey);
      numeroStatusCounterWordsKey = parseInt(contadorStatusCounterWordsKey) + 1;
      localStorage.setItem(statusCounterWordsKey,numeroStatusCounterWordsKey);
      console.log(localStorage.getItem(statusCounterWordsKey));
      
      // muda atomaticamente valor na div após clicar em uma palavra
      var stringCounterWordsKey1 = localStorage.getItem(statusCounterWordsKey);
      var stringCounterWordsKey2 = 'Checked Words: '.concat(stringCounterWordsKey1);

      $('#cont_direito').html(stringCounterWordsKey2);

        // calcula Performance
      var totalClicks = stringCounterWordsKey1
      var totalWord = countWords()
      var resul
      var stringPerfomanceKey = 'Performance: '.concat((100 - (totalClicks / totalWord * 100)).toFixed(2).concat('%'));
      $('#performance').html(stringPerfomanceKey);
      }
</script>

<script>
// Marcar livros como lido ou não
var aStatus='Status'
var bookNameStatusreadinenglish = document.getElementsByTagName("title")[0].innerHTML;
var livroreadinenglishStatus = bookNameStatusreadinenglish.concat(aStatus)

if (localStorage.getItem(livroreadinenglishStatus) === null) {
  localStorage.setItem(livroreadinenglishStatus, 0)
}


function setLivroreadinenglishStatus0()
{
  localStorage.setItem(livroreadinenglishStatus, 0);
  var statusCounterWordsKey = 'statusCounterWordsKey'.concat(document.getElementsByTagName("title")[0].innerHTML);
  localStorage.setItem(statusCounterWordsKey, 0);


}
function setLivroreadinenglishStatus1()
{
  localStorage.setItem(livroreadinenglishStatus, 1)
}

if (localStorage.getItem(livroreadinenglishStatus) == 0)
{
  document.write("</br><div align='center'><button><a href='../' onclick='setLivroreadinenglishStatus1();removeNameBookActivedreadinenglish()'>Mark as <b  style='color:red;'>read</b> book</a></button></div></br></br></br><br><br>")
}
else
{
  document.write("</br><div align='center'><button><a href='../' onclick='setLivroreadinenglishStatus0();removeNameBookActivedreadinenglish()'>Mark as <b style='color:red;'>unread</b> Book</a></button></div></br></br></br><br><br")
}

console.log(localStorage.getItem(livroreadinenglishStatus))
console.log(livroreadinenglishStatus)

function saveBookActived()
{
  var NameBookActivedreadinenglish = window.location.href;
  localStorage.setItem('NameBookActivedKeyreadinenglish', NameBookActivedreadinenglish)
  console.log(localStorage.getItem('NameBookActivedKeyreadinenglish'));
}

function removeNameBookActivedreadinenglish(){
  localStorage.removeItem('NameBookActivedKeyreadinenglish');
}

// TEXTO CLICÁVEL
str = document.getElementById('texto-clicavel').innerHTML;
res = str.replace(/\"/g, "'");
document.getElementById('texto-clicavel').innerHTML = res;
// teste=document.getElementById('texto-clicavel').innerHTML = res;
// console.log(teste)

var criarLink = t => `<a target="_blank" class="link" onclick="countClicksWords();window.open('https://translate.google.com/m/translate?ie=UTF8&sl=pt-BR&tl=en&q=#en/pt/${t}')">${t}</a>`

var criarArrayDeLinks = e => e.textContent.split(' ').filter(i => i !== '' && i !== '\n').map(i => criarLink(i));


function criarLinksEmElementos(pai) {
  const tags = [];

  if (pai.nodeType == 3 && pai.textContent.trim()) { 
    tags.push(...criarArrayDeLinks(e));
  } else {          
    pai.childNodes
       .forEach(
          e => {         
            if (e.nodeType == 3 && e.textContent.trim()) { 
              tags.push(...criarArrayDeLinks(e));
            } else {          
              tags.push(criarLinksEmElementos(e).outerHTML);
            }
        });
  }
  
  if (tags.length) {    
    pai.innerHTML = tags.join(' ');    
  }

  return pai;  
}

function criarTextoClicavel(seletor) {  
  const div = document.querySelector(seletor);
  criarLinksEmElementos(div);
}

criarTextoClicavel('#texto-clicavel');

// muda cor e propridade da palavra clicada
$(function() {
   $('a.link').click(function() {
       $('a.link').removeClass('active');
       $(this).addClass('active');
   });
});

</script>

{{ partial "footer.html" . }}
